*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3));
    position: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: #97dffb;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40;
    position: fixed;
    top: 0;
    z-index: 999;
    overflow: auto;
    width: 100%;
    opacity: 0.8;
   }
   
   .navbar__container {
       display: flex;
       justify-content: space-between;
       height: 80px;
       z-index: 1;
       width: 100%;
       max-width: 1300px;
       margin: 0 auto;
       padding: 0 50px;
   }
   
   #navbar__logo {
       background-color: blue;
       background-image: linear-gradient(to top, #76c8ff 0%, #002c99
       100%);
       background-size: 100%;
       -webkit-background-clip: text;
       -moz-background-clip: text;
       -webkit-text-fill-color: transparent;
       -moz-text-fill-color: transparent;
       display: flex;
       align-items: center;
       cursor: pointer;
       text-decoration: none;
       font-size: 40px;
   }
   
   .fa-gem {
       margin-right: 0.5rem;
   }
   
   .navbar__menu {
     display: flex;
     align-items: center;
     list-style: none;
     text-align: center;
   }
   
   .navbar__item {
       height: 80px;
   }
   
   .navbar__links {
       color: #fff;
       display: flex;
       align-items: center;
       justify-content: center;
       text-decoration: none;
       padding: 0 1rem;
       height: 100%;

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }
}

nav .logo{
    width: 80px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    

}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    li {
  float: left;
}

}

.content{
    text-align: center;
}
/*Maine*/
.content h1{
    font-size: 160px;
    color: #BF4D34;
    font-weight: 600;
    transition: 0.5s;
    opacity: 0.8;
}

.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}


.btn{
    text-decoration: none;
    display: inline-block;
    color: #03658C;
    font-size: 24px;
    border: 2px solid #ff795b;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;

}

.btn::before {
content: "";
background: linear-gradient(
    45deg,
    #03658C, #0388A6, #04ADBF, #A67A44,
    #BF4D34, #31d9ff, #73e4fd, #ff795b
);
position: absolute;
top: -2px;
left: -2px;
background-size: 600%;
z-index: -1;
width: calc(100% + 4px);
height: calc(100% + 4px);
filter: blur(8px);
animation: glowing 20s linear infinite;
transition: opacity .3s ease-in-out;
border-radius: 10px;
opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}


.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #000;
    left: 0;
    top: 0;
    border-radius: 10px;
}
/* animaton */

/*hover*/
.btn:hover::before {
    opacity: 1;
}

.btn:active:after {
background: transparent;
}

.btn:active {
    color: #000;
    font-weight: bold;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }

    @media (max-aspect-ratio: 16/9){
        .back-video{
            width: auto;
            height: 100%;

            body{
                margin: 0;
                padding: 0;
            }
            .middle{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            .btn{
                background: none;
                border: 2px solid #000;
                font-family: Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                padding: 12px 20px;
                min-width: 200px;
                margin: 10px;
                cursor: pointer;
                transition: color 0.4s linear;
                position: relative;

            }
            .btn:hover{
                color: none;
            }

            .btn::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: #000;
                transition: transform 0.5s;
                transform-origin: 0 0;
                transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
         
        
}

